@model Job.Web.Models.HomeModel
@{
	ViewBag.Title = "Home";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th><b>Id</b></th>
				<th><b>Job Title</b></th>
			</tr>
		</thead>
		<tbody>
			
				<tr>
					<td>@Model.Id</td>
					<td>@Model.Title</td>
				</tr>
		</tbody>
	</table>

